# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.UnityGameServer.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\UnityC#\UnityGameServer\.idea\.idea.UnityGameServer\.idea/dataSources/
/dataSources.local.xml
